[Unit]
Description=IT Dashboard Flask App
After=network.target

[Service]
User=stark69
WorkingDirectory=/home/stark69/it_dashboard/
ExecStart=/usr/bin/python3 /home/stark69/it_dashboard/run.py
Restart=always
Environment=FLASK_ENV=production

[Install]
WantedBy=multi-user.target
